
<!doctype html>
<html>
  <head>
    <title>Hate Love for Twitter</title>
    <script src="popup.js"></script>
    <style>
      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
        background: #E3F2FD;
      }
      h3 {
          color: #880E4F;
      }
      a, a:hover, a:visited {
          color: #F44336;
      }
    </style>
  </head>
  <body>
    <h1>Hate Love for Twitter</h1>
    <h2>Thanks for using the extension!</h2>
    <h3>If you like it, <a id="paypal" href="https://www.paypal.me/csuar3z/3">you can invite me to a beer!</a>
  </body>
</html>